<%  layout("layout") -%>

<div class="jumbotron" id="nav-top">
	<div class="container">
		<h1>Shop smart ,save big!</h1>

		<p>Starting point to create something more unique</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Signup &raquo;</a></p>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">


			<h3>Start your search here</h3>
			<p>Signup to start buying</p>


		</div>
		<div class="col-md-4">


			<h3>Look for smart items?</h3>
			<p>These will appear acoss the site as you add to yout cart</p>


		</div>
		<div class="col-md-4">
			<h3>Build a smart cart</h3>


		<h3>The more smart tems you buy together , the more you save</h3>



		</div>
	</div>


